.gridItem {
  background-color: hsl(243, 27%, 20%);
  grid-row: span 3;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.list {
  list-style: none;
  font-size: 24px;
  font-family: "DM-sans";
}
.options {
  list-style: none;
  background-color: hsl(243, 23%, 30%);
  color: hsl(250, 6%, 84%);
  font-size: 18px;
  padding-left: 15px;
  border-radius: 3px;
  width: 100%;
  border: none;
  height: 2.5rem;
}
.hourlyList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
