.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.spinnerCircle {
  width: 40px;
  height: 40px;
  border: 4px solid hsl(240, 6%, 70%);
  border-top-color: hsl(233, 67%, 56%);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
